
    <div class="skn-table-cnt listApi">
        <table id="sknCalibrateTable3" datatable [dtOptions]="dtOptions" class="skn-table" *ngIf="reviewDataDocuments && reviewDataDocuments.length">
            <thead>
                <tr>
                    <th>Document ID</th>
                    <th>File Name</th>
                    <th>Assignee</th>
                    <th>Created Date</th>
                    <th>Last Updated Date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="row-item-pending" role="row" *ngFor="let document of reviewDataDocuments" >
                    <td>{{document._id}}</td>
                    <td>{{document.file_name}}</td>
                    <td>{{document.assignee?.user_name}}</td>
                    <td>{{document.created_at | date:'d MMM YY HH:mm'}}</td>
                    <td>{{document.updated_at | date:'d MMM YY HH:mm'}} </td>
                    <td>
                      {{ formatStatus(document.status) }} 
                      <a *ngIf="document.status == 'Rejected'" class="doc-review-comment" > 
                        <img src="../../../assets/images/comment-white.png" height="20" alt=""> 
                      </a>
                      <ng-template #reviewComment>
                        <div>
                          {{document.review_comment ? document.review_comment : "Comment unavailable"}}
                        </div>
                      </ng-template>
                    </td>
                    <td style="cursor: pointer;">  
                      <a data-bs-toggle="tooltip" title="Play" *ngIf="document.status == 'Pending'"  (click)="assignAndViewReviewDocData($event,document)"><img src="../assets/images/icon-play.svg" class="skn-config-edit-icon me-3"/></a>
                      <a data-bs-toggle="tooltip" title="Play" *ngIf="document.status == 'Rejected' || document.status == 'Moved to Training' || document.status == 'Moved to Golden'"   (click)="viewReviewDocData(document)"><img src="../assets/images/icon-play.svg" class="skn-config-edit-icon me-3"/></a>
                      <a data-bs-toggle="tooltip" title="Play" (click)="viewReviewDocData(document)" *ngIf="document.status == 'In Progress'  && document.assignee._id == loginUser"  (click)="viewReviewDocData(document)"><img src="../assets/images/icon-play.svg" class="skn-config-edit-icon me-3"/></a>
                      <a data-bs-toggle="modal" (click)="onDeleteDocumentIconClick(document)" data-toggle="tooltip" title="Delete"  data-bs-target="#deleteDocRowModal"><img src="../assets/images/icon-trash.svg" class="skn-config-edit-icon"/></a>               
                      <!-- <a data-bs-toggle="tooltip" title="Play" >  <img src="../assets/images/icon-play.svg" *ngIf="document.status == 'Pending'" height="20"
                        class="img-cursor"  (click)="assignAndViewReviewDocData($event,document)" >
                       <img src="../assets/images/icon-play.svg" *ngIf="document.status == 'Rejected' || document.status == 'Moved to Training' || document.status == 'Moved to Golden' " height="20" class="img-cursor" (click)="viewReviewDocData(document)">
                       <img src="../assets/images/icon-play.svg" *ngIf="document.status == 'In Progress'  && document.assignee._id != loginUser" height="20" class="img-cursor icon-opacity">
                       <img src="../assets/images/icon-play.svg" *ngIf="document.status == 'In Progress'  && document.assignee._id == loginUser" height="20" class="img-cursor" (click)="viewReviewDocData(document)"
                       ></a>
                        <a data-bs-toggle="modal" (click)="onDeleteDocumentIconClick(document)" data-toggle="tooltip" title="Delete"  data-bs-target="#deleteDocuemnt"> <img style="cursor: pointer;" src="../assets/images/icon-trash.svg" height="15"></a> -->
                    </td>
                  </tr>
            </tbody>
        </table>
    </div>
    <!-- ==================================================================== table-ends-here ======================================================== -->
    <div class="modal fade" id="deleteDocRowModal" tabindex="-1" aria-labelledby="deleteTabConfirmModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="skn-modal-title">Are you sure you want to delete "{{documentTypeName}}" tab?</h3>
                    <img src="../assets/images/icon-close.svg" class="ms-auto modal-close-btn" data-bs-dismiss="modal" aria-label="Close">
                </div>
                <!--===============================================================================================-->
                <div class="modal-body">
                </div>
                <!--===============================================================================================-->
                <div class="modal-footer border-0">
                    <button type="button" class="skn-transparent-btn" data-bs-dismiss="modal">CANCEL</button>
                    <button type="button" class="skn-filled-btn" data-bs-dismiss="modal" (click)="onDeleteButtonClick()">CONFIRM DELETE</button>
                </div>
                <!--================================================================================================-->
            </div>
        </div>
      </div>
    
       
