select:disabled{
    background-color: #DCDCDC !important;
}
.document_type{
    width:12% !important
}
.last{
    width:12% !important
  
}
.count{
    width:10% !important

}
.api{  width:12% !important
}

// .training{    width:10% !important;
//     text-align: inherit;
// }
// .golden{    width:10% !important;
//     text-align: left;

// }
// .review{    width:10% !important;
//     text-align: left;

// }
.status{    width:8% !important;
    text-align: left;

}
.action{    width:10% !important
}