.dataTables_scrollBody {
    margin-top: -16px;
    max-height:42vh !important ;
}
@media screen and (min-width: 1440px) {
    .dataTables_scrollBody {
        margin-top: -16px;
        max-height:75vh !important
    }
}
@media screen and (min-width: 1366px) {
    .dataTables_scrollBody {
        margin-top: -16px;
        max-height:46vh !important
    }
}
@media screen and (min-width: 1620px) {
    .dataTables_scrollBody {
        margin-top: -16px;
        max-height:55vh !important
    }
}
@media screen and (min-width: 1920px) {
    .dataTables_scrollBody {
        margin-top: -16px;
        max-height:55vh !important
    }
}