<div class="skn-landing-cnt" >
    <a routerLink="/manager/reports" class="skn-landing-box">
        <img src="../assets/images/reports.svg" class="skn-landing-page-icon"/>
        <div class="skn-landing-text mt-2">Reports</div>
    </a>
    <a routerLink="/manager/dashboard" class="skn-landing-box">
        <img src="../assets/images/dashboard.svg" class="skn-landing-page-icon"/>
        <div class="skn-landing-text mt-2">Dashboard</div>
    </a>
    <a routerLink="/manager/manager-task" class="skn-landing-box">
        <img src="../assets/images/manage-tasks.svg" class="skn-landing-page-icon"/>
        <div class="skn-landing-text mt-2">Tasks</div>
    </a>
</div>

