.donuts {
    height: 215px;
  }
  
  .donut-container {
    height: 120px;
    font-size: 45px;
  
    > div {
      width: 120px;
      height: 120px;
      margin: auto;
      padding-bottom: 10px;
    }
  }
  
  .kpi-container {
    height: 215px;
  }
  .container-filter {
    display: block;
    background-color: #1d2041;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #2e325a;
    margin-top: -10px;
  }
  
  .ribbon {
    h2 {
      font-size: 24px;
      font-weight: 300;
    }
  }
  
  