.table.dataTable thead > tr > th.sorting:after{
    position: absolute;
    display: block;
    // opacity: 0.125;
    right: 0px !important;
    line-height: 9px;
    // font-size: 0.9em;
}
.view-all-span{
    cursor: pointer;
    color: var(--primary) !important;
    white-space: nowrap;
}