<!-- overlay with skense image -->
<div class="loader" *ngIf="isLoading | async">
    <div class="skn-loading-cnt">
        <div class="skn-loading-box">
            <img src="../assets/images/loading.svg"/>
            <div>Loading...</div>
        </div>
    </div>
    <!-- <div class="sk-circle">
        <div class="card shadow text-center loading-message-dialog">
            <div class="card-body text-dark ">
                <p>Processing... </p>
                <p><img src="assets/images/skense-logo-proccessing.png" /></p>
                <div class="requestProgress">
                    <div class="bar">
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
