<div class="skn-landing-cnt" style="cursor: pointer;">
    <a href="skn-admin-projects.html" routerLink="/admin/manage-project" class="skn-landing-box">
        <img src="../assets/images/icon-config-projects.svg" class="skn-landing-page-icon"/>
        <div class="skn-landing-text mt-2">Projects</div>
    </a>
    <a href="skn-admin-resources.html" routerLink="/admin/manage-resources" class="skn-landing-box">
        <img src="../assets/images/icon-team.svg" class="skn-landing-page-icon"/>
        <div class="skn-landing-text mt-2">Resources</div>
    </a>
    <a href="skn-admin-manage-api.html" routerLink="/admin/manage-api" class="skn-landing-box">
        <img src="../assets/images/icon-cognitive-api.svg" class="skn-landing-page-icon"/>
        <div class="skn-landing-text mt-2">API</div>
    </a>
</div>
<!--==========================================================================================================================-->