<div class="modal fade" id="ReassignUserModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="skn-modal-title">{{actionTitle}}</h3>
                <img src="../assets/images/icon-close.svg" class="ms-auto modal-close-btn" data-bs-dismiss="modal" aria-label="Close" (click)="reset()">
            </div>
            <!--===============================================================================================-->
            <div class="modal-body">

                <table class="w-100">
                  
                    <tr>
                  
                        <td class="py-3">
                            <label class="skn-modal-field-label-2">Role*</label>
                        </td>
                        <td class="py-3">
                            <select class="skn-select" (change)="fetchUserForThisRoleForAProject($event)" [(ngModel)]="selectedRoleId">
                                <option value="" [disabled]="true">Select a role</option>
                                <option *ngFor="let role of roles"   [value]="role._id">{{role.role_name}}</option>
                            </select>
                            
                        </td>
                    </tr>

                    <tr>
                        <td class="py-3">
                            <label class="skn-modal-field-label-2">User*</label>
                        </td>
                        <td class="py-3">
                            <select class="skn-select" [(ngModel)]="selectedUserId">
                                <option value="" [disabled]="true">Select a user</option>
                                <option *ngFor="let assignee of assignees" [value]="assignee._id">{{assignee.user_name}}</option>
                        </select>
                    </td>
                    </tr>

                    <tr>
                        <td class="py-3" colspan="2" *ngIf="isDocLocked">
                            <div class="skn-check">
                                <input class="form-check-input skn-check-input" type="checkbox" id="check-box-0311221129" [(ngModel)]="selectedForce">
                                <label class="skn-check-label" for="check-box-0311221129">
                                   &nbsp;&nbsp; Existing user is reviewing the document now, override & assign.
                                </label>
                            </div>
                        </td>
                    </tr>
             
                </table>

            </div>
            <!--===============================================================================================-->
            <div class="modal-footer">
                <button type="button" class="skn-transparent-btn" data-bs-dismiss="modal">CANCEL</button>
                <button type="button" class="skn-filled-btn" (click)="assignOrReassign()" data-bs-dismiss="modal" (click)="reset()" [disabled]="selectedRoleId=='' || selectedUserId==''" >{{actionButtonLabel}}</button>
            </div>
            <!--===============================================================================================-->
        </div>
    </div>
</div>
